.header-wrap {
  background: url("../../img/header-wrap-bg.png") repeat-x;
  background-size: auto 100%;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 99;
}

.header {
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 40px;
}